<!DOCTYPE html>
<html>
    <head>
          <link rel="stylesheet" href="css/style.css" />
        <body>
           {{>header}}
            <h1>
                finally i have completed my node js
            </h1>
        </body>
    </head>
</html>